/* Basic styling */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1F2937;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 700;    
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

blockquote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

blockquote footer cite {
    font-weight: 700;
    font-style: normal;
}

blockquote footer cite::before {
    content: "\2014";
    margin-right: 3px;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    display: inline-block;
    background-color: #3882F6;
    font-weight: 700;
    color: #F9FAF8;
    padding: 8px 16px;
    text-align: center;
    border: 1px solid #F9FAF8;
    border-radius: 6px;
    cursor: pointer; 
}

/* Section wrapper Styling */

.site-header-inner-wrapper,
.thumbnail-section-inner-wrapper,
.quote-section-inner-wrapper,
.site-footer-content-inner-wrapper {
    margin: 0 auto;
}

.site-header-inner-wrapper,
.site-footer-content-inner-wrapper {
    max-width: 1000px;
}

.thumbnail-section-inner-wrapper,
.quote-section-inner-wrapper {
    max-width: 800px;
}

/* Header Styles */

#site-header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.site-header-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.header-logo-wrapper a,
.main-navigation a {
    display: inline-block;
    padding: 15px;
}

.header-logo-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.header-logo a svg {
    fill: #F9FAF8;
}

.main-navigation-wrapper {
    flex-grow: 1;
}

.main-navigation ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation ul li {
    margin-left: 25px;
}

.main-navigation ul li a {
    color: #F9FAF8;
    text-decoration: none;
}

.welcome-wrapper {
    display: flex;
    flex-basis: 100%;
    gap: 25px;
    margin: 50px 0;
}

.welcome-wrapper > * {
    padding: 15px;
}

/* Thumbnail Section Styles */

.thumbnail-section {
    margin: 50px 0;
    padding: 0 15px;
}

.thumbnail-section-heading {
    text-align: center;
}

.gallery-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 15px 0;
}

.gallery-item {    
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
    text-align: center;    
}

.gallery-item img {
    box-sizing: border-box;
    border: 2px solid #3882F6;
    border-radius: 6px;
}


/* Quote Section Styles */

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 15px;
}

.quote-section blockquote {
    margin: 0;
}

.quote-section cite {
    display: block;
    text-align: right;
    margin-bottom: 1em;
}

/* Footer Styles */

.site-footer-content {
    color: #F9FAF8;
    padding: 80px 15px;
}

.site-footer-content-inner-wrapper {
    display: flex;
    gap: 40px;
    background-color: #3882F6;
    padding: 40px 100px;
    border-radius: 6px;
}

.site-footer-text {
    flex-grow: 2;
}

.site-footer-text h3 {
    margin: 0 0 0.5em;
}

.site-footer-text p {
    margin: 0;
}

.site-footer-button-wrapper {
    display: flex;
    flex-shrink: 0;
}

.site-footer-button-wrapper button {
    flex-shrink: 0;
    align-self:last baseline;
}